:root{
    --laranja:#FF7D3C;
    --vermelho:#FF6247;
}
body{
  background-color: #fff;
}

.btn{
    padding: 10px 25px 10px 25px;
    background-color: var(--vermelho);
    border-radius: 5px;
    border:2px solid var(--vermelho);
    color:#fff;
    text-decoration: none;
    cursor: pointer;
    width: 200px;
}


.form-input{
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    padding: 15px 15px 15px 15px;
    margin: 5px 1px 3px 0px;
    border: 3px solid #DDDDDD;
    border-radius: 5px;
    width: 80%;
    height: 40px;
    
  }
  .form-input::placeholder{
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
  }
   
  .form-input:focus, textarea:focus {  
    padding: 15px 15px 15px 15px;
    margin: 5px 1px 3px 0px;
    border: 3px solid var(--laranja);
  }

  .form-select{
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;    
    margin: 5px 1px 3px 0px;
    padding: 15px;
    border: 3px solid #DDDDDD;
    border-radius: 5px;
    width: 90%;
    height: 70px;
    
  }
  .form-select::placeholder{
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
  }
   
  .form-select:focus, textarea:focus {  
    
    margin: 5px 1px 3px 0px;
    border: 3px solid var(--laranja);
  }